<div class="row">
    <div class="col-md-12">
        <app-nav></app-nav>
    </div>
</div>

<div class="container">
    <div class="container" id="main-container">
        <h1>Category API</h1>

        <p>
            <button type="button" data-toggle="collapse" (click)="onOpenModal(null!!, 'add')">+Tambah Data Category </button>
        </p>

        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Category Code</th>
                            <th scope="col">Category Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cat of category">
                            <td>{{ cat.categoryCode }}</td>
                            <td>{{ cat.categoryName }}</td>
                            <td>
                                <button type="button" class="btn btn-success">
                                    <i class="fas fa-edit" (click)="onOpenModal(cat, 'edit')"></i>
                                </button>
                                <button type="button" class="btn btn-danger">  
                                    <i class="far fa-trash-alt" (click)="onOpenModal(cat, 'delete')"></i>
                                </button>
                            </td>  
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  
  <!-- Modal -->
  <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddCategory(addForm)">
            <div class="form-group">
                <label for="categoryCode">Category Code</label>
                <input type="text" ngModel name="categoryCode" 
                class="form-control" id="categoryCode" 
                placeholder="Category Code" required>
            </div>
            <div class="form-group">
                <label for="categoryName">Category Name</label>
                <input type="text" ngModel name="categoryName" 
                class="form-control" id="categoryName" 
                placeholder="Category Name" required>
            </div>
            <div class="modal-footer">
                <button type="button" id="add-category-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Edit Modal -->
  <div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <input type="hidden" ngModel="{{ editCategory?.id}}" name="id" 
            class="form-control" id="id"> 
            <div class="form-group">
                <label for="categoryCode">Category Code</label>
                <input type="text" ngModel="{{ editCategory?.categoryCode}}" name="categoryCode" 
                class="form-control" id="categoryCode" 
                placeholder="Category Code" required>
            </div>
            <div class="form-group">
                <label for="categoryName">Category Name</label>
                <input type="text" ngModel="{{ editCategory?.categoryName}}" name="categoryName" 
                class="form-control" id="categoryName" 
                placeholder="Category Name" required>
            </div>
            <div class="modal-footer">
                <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button (click)="onEditCategory(editForm.value)" data-dismiss="modal" type="button" class="btn btn-primary"> Edit Data</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Category</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>Anda Yakin Ingin Menghapus data {{ deleteCategory.categoryName }}</p>
            <div class="modal-footer">
                <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button class="btn btn-primary" data-dismiss="modal"
                (click)="onDeleteCategory(deleteCategory.id)">Yes</button>
            </div>
            </div>
          </div>
        </div>
      </div>
</div>