<div class="row">
    <div class="col-md-12">
        <app-nav></app-nav>
    </div>
</div>

<div class="container">
    <div class="container" id="main-container">
        <h1>Product API</h1>

        <p>
            <button type="button" data-toggle="collapse" (click)="onOpenModal(null!!, 'add')">+Tambah Data Product </button>
        </p>

        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <th scope="col">Nomor</th>
                        <th scope="col">Variant</th>
                        <th scope="col">Product Code</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Action</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let prod of product">
                            <td>{{ prod.id }}</td>
                            <td>{{ prod.variant.variantName }} / {{prod.variant.category.categoryName}}</td>
                            <td>{{ prod.productCode }}</td>
                            <td>{{ prod.productName }}</td>
                            <td>{{ prod.productDescription }}</td>
                            <td>{{ prod.productPrice }}</td>
                            <td>{{ prod.productStock }}</td>
                            <td>
                                <button type="button" class="btn btn-success">
                                    <i class="fas fa-edit" (click)="onOpenModal(prod, 'edit')"></i>
                                </button>
                            </td>  
                            <td>
                                <button type="button" class="btn btn-danger">  
                                    <i class="far fa-trash-alt" (click)="onOpenModal(prod, 'delete')"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

         <!-- ADD Modal -->
  <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tambah Product</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddProduct(addForm)">

               <!-- membuat dropdown -->
            <div class="form-group">
              <label>Category</label>
              <select class="form-control" ngModel name="categoryId" placeholder="Choose Category" (ngModelChange)="variantByCategory($event)">
              <option [ngValue]="cat.id" *ngFor="let cat of category">
                {{ cat.categoryName }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label>Variant</label>
            <select ngModel name="variantId" class="form-control" placeholder="Variant Name">
            <option [ngValue]="vari.id" *ngFor="let vari of variant">
              {{ vari.variantName }}
            </option>
          </select>
        </div>

            <div class="form-group">
                <label for="productCode">Product Code</label>
                <input type="text" ngModel name="productCode" 
                class="form-control" id="productCode" required>
            </div>
            <div class="form-group">
                <label for="productName">Product Name</label>
                <input type="text" ngModel name="productName" 
                class="form-control" id="productName" required>
            </div>
            <div class="form-group">
                <label for="productDescription">Description</label>
                <input type="text" ngModel name="productDescription" 
                class="form-control" id="productDescription" required>
            </div>
            <div class="form-group">
                <label for="productPrice">Price</label>
                <input type="text" ngModel name="productPrice"
                class="form-control" id="productPrice" required> 
            </div>
            <div class="form-group">
                <label for="productStock">Stock</label>
                <input type="text" ngModel name="productStock"
                class="form-control" id="productStock"required>
            </div>
            <div class="modal-footer">
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

   <!-- Edit Modal -->
   <div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #editForm="ngForm">
                <input type="hidden" ngModel="{{ editProduct?.id}}" name="id" 
                class="form-control" id="id"> 

               <!-- membuat dropdown -->
            <div class="form-group">
              <label>Category</label>
              <select class="form-control" name="categoryId" placeholder="Select Category"
               [(ngModel)]="selectedCategory" (ngModelChange)="variantByCategory($event)">
              <option *ngFor="let cat of category" [ngValue]="cat.id">
                {{ cat.categoryName }}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label>Variant</label>
            <select name="variantId" class="form-control" placeholder="Select Variant" [(ngModel)]="selectedVariant" >
            <option *ngFor="let vari of variant" [ngValue]="vari.id">
              {{ vari.variantName }}
            </option>
          </select>
        </div>

            <div class="form-group">
                <label for="productCode">Product Code</label>
                <input type="text" ngModel="{{ editProduct?.productCode}}" name="productCode" 
                class="form-control" id="productCode" required>
            </div>
            <div class="form-group">
                <label for="productName">Product Name</label>
                <input type="text" ngModel="{{ editProduct?.productName}}" name="productName" 
                class="form-control" id="productName" required>
            </div>
            <div class="form-group">
                <label for="productDescription">Description</label>
                <input type="text" ngModel="{{ editProduct?.productDescription}}" name="productDescription" 
                class="form-control" id="productDescription" required>
            </div>
            <div class="form-group">
                <label for="productPrice">Price</label>
                <input type="text" ngModel="{{ editProduct?.productPrice}}" name="productPrice"
                class="form-control" id="productPrice" required> 
            </div>
            <div class="form-group">
                <label for="productStock">Stock</label>
                <input type="text" ngModel="{{ editProduct?.productStock}}" name="productStock"
                class="form-control" id="productStock"required>
            </div>
            <div class="modal-footer">
                <button (click)="onEditProduct(editForm.value)" data-dismiss="modal" type="button" class="btn btn-primary">Simpan</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    <!-- Delete Modal -->
<div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Anda Yakin Ingin Menghapus Data {{ deleteProduct.productName }}? </p>
            <div class="modal-footer">
                <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button class="btn btn-primary" data-dismiss="modal"
                (click)="onDeleteProduct(deleteProduct.id)">Yes</button>
            </div>
            </div>
        </div>
</div>