<div class="container">
    <div class="row content">
        <div class="col md-6 mb-3">
            <img src="../../../assets/svg/undraw_two_factor_authentication_namy.svg" class="img-fluid" alt="image">
        </div>

        <div class="col-md-6">
            <h3 class="signin-text mb-3">Register</h3>

            <form>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" [(ngModel)]="regis.username">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" class="form-control" [(ngModel)]="regis.email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" [(ngModel)]="regis.password">
                </div>
                <div>
                    <button class="btn btn-class" (click)="moveToLogin()">Login</button>
                    <button class="btn btn-class" (click)="register()">Register</button>
                </div>
            </form>
        </div>

    </div>
</div>