<div class="row">
    <div class="col-md-12">
        <app-nav></app-nav>
    </div>
</div>

<div class="container">
    <div class="container" id="main-container">
        <h1>Variant API</h1>

        <p>
            <button type="button" data-toggle="collapse" (click)="onOpenModal(null!!, 'add')">+Tambah Data Variant </button>
        </p>

        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Category Name</th>
                            <th scope="col">Variant Code</th>
                            <th scope="col">Variant Name</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vari of variant">
                            <td>{{ vari.category.categoryName }}</td>
                            <td>{{ vari.variantCode }}</td>
                            <td>{{ vari.variantName }}</td>
                            <td>
                                <button type="button" class="btn btn-success">
                                    <i class="fas fa-edit" (click)="onOpenModal(vari, 'edit')"></i>
                                </button>
                                <button type="button" class="btn btn-danger">  
                                    <i class="far fa-trash-alt" (click)="onOpenModal(vari, 'delete')"></i>
                                </button>
                            </td>  
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  
  <!-- ADD Modal -->
  <div class="modal fade" id="addVariantModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddVariant(addForm)">

               <!-- membuat dropdown -->
            <div class="form-group">
              <label>Category</label>
              <select ngModel name="categoryId" class="form-control" placeholder="Choose Category">
              <option [ngValue]="cat.id" *ngFor="let cat of category">
                {{ cat.categoryName }}
              </option>
            </select>
          </div>

            <div class="form-group">
                <label for="variantCode">Variant Code</label>
                <input type="text" ngModel name="variantCode" 
                class="form-control" id="variantCode" required>
            </div>
            <div class="form-group">
                <label for="variantName">Variant Name</label>
                <input type="text" ngModel name="variantName" 
                class="form-control" id="variantName" required>
            </div>
            <div class="modal-footer">
                <button type="button" id="add-variant-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Edit Modal -->
  <div class="modal fade" id="editVariantModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Variant</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <input type="hidden" ngModel="{{ editVariant?.id}}" name="id" 
            class="form-control" id="id"> 

                <!-- membuat dropdown -->
            <div class="form-group">
              <label>Category</label>
              <select ngModel name="categoryId" class="form-control" [(ngModel)]="selectedCategory">
              <option *ngFor="let cat of category" [ngValue]="cat.id">
                {{ cat.categoryName }}
              </option>
            </select>
          </div>

            <div class="form-group">
                <label for="variantCode">Variant Code</label>
                <input type="text" ngModel="{{ editVariant?.variantCode}}" name="variantCode" 
                class="form-control" id="variantCode" required>
            </div>
            <div class="form-group">
                <label for="variantName">Variant Name</label>
                <input type="text" ngModel="{{ editVariant?.variantName}}" name="variantName" 
                class="form-control" id="variantName" required>
            </div>
            <div class="modal-footer">
                <button (click)="onEditVariant(editForm.value)" data-dismiss="modal" type="button" class="btn btn-primary"> Edit Data </button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteVariantModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Variant</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>Anda Yakin Ingin Menghapus data {{ deleteVariant.variantName }}</p>
            <div class="modal-footer">
                <button type="button" id="" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button class="btn btn-primary" data-dismiss="modal"
                (click)="onDeleteVariant(deleteVariant.id)">Yes</button>
            </div>
            </div>
          </div>
        </div>
      </div>
</div>